     a {
        color: red;
      }
      a,h1 {
        color: red;
        font-weight: bold;
      }
      a:hover {
        color: green;
      }
   main {
        display: flex;
        flex: auto;
        flex-direction: row;
      }
      aside {
        flex: 1;
      }
      article {
        flex: 3;
      }
