     a {
        color: red;
      }
      a,h1 {
        color: red;
        font-weight: bold;
      }
      a:hover {
        color: green;
      }
body,main{
 display:flex;    
}
header,main,footer{
   flex-direction: column; 
}
aside{
 flex: 1;    
}
article{
    flex: 3;
}
